*{
    margin: 0;
    padding: 0;
}
.header a {text-decoration:none;color: rgb(0, 0, 0);
    font-size: 14px;
    margin-right: 31px;
    margin-left: 31px;
    margin-top: 19px;
    display: inline-block;
    position: relative
}
.header a:hover{color: royalblue;}
.header{
    height: 60px;
}
.list{
    float: left;
}
.weather{
    float: right;
    padding-top: 20px;
}
.logo{
    height: 200px;
    text-align: center;
    margin-top: 50px;
}
.logo img{
    height: 200px;
}
.search{
    width: 600px;
    height: 40px;
    margin: 60px auto;
}
.input{
    width: 480px;
    height: 36px;
    font-size: 16px;
    background-color: white;
    border: #C4C7CE 2px solid;
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
}
.input:focus{
    border: #4E6EF2 2px solid;
    border-right: none;
}
.left{
    float: left;
}
.submit{
    width: 114px;
    height: 40px;
    font-size: 16px;
    background-color: #4E6EF2;
    color: #ffffff;
    border: none;
    border-radius: 0 8px 8px 0;
    outline: none;
}
.submit:active{
    background-color: #3a59d3;
}
.right{
    float: left;
}